.title a {
    color: #bc2157;
    font-weight: bold;
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 8px 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #f7c6d7;
    font-family: Tahoma, sans-serif;
}
.header {
    display: flex;
    justify-content: space-around;
}
.header li {
    list-style: none;
}
.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 40px;
}
.header a:hover {
    color: #bc2157;
}
#home-container {
    background-color: #fffbed;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.home-review {
    padding: 20px;
    flex: 2;
}
.home-review p {
    font-family: Tahoma, sans-serif;
    color: #bc2157;
    font-size: 16px;
}
.home-photo {
    flex: 5;
}
.home-photo img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}
#home-assessment {
    padding: 10px 40px;
    background-color: #e8d7f7;
}
#home-assessment p {
    font-family: Tahoma, sans-serif;
    color: #606060;
    font-weight: bold;
}
.home-treatments {
    display: flex;
    justify-content: space-around;
}
.home-treatments li {
    list-style: none;
    color: #606060;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px 20px 0;
}
.home-quiz-button {
    background-color: #bc2157;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 18px;
}
.home-quiz-button:hover {
    background-color: #8a0936;
}
#home-products {
    padding: 10px 40px 30px;
    background-color: #fffbed;
}
#home-products > p {
    font-family: Tahoma, sans-serif;
    color: #bc2157;
    font-weight: bold;
}
#home-products-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.home-each-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
}
.home-each-product img {
    width: 250px;
    height: auto;
}
.home-each-product a {
    background-color: white;
    display: block;
    width: 80%;
    text-align: center;
    color: #73439e;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid #bd9adb;
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    margin-bottom: 15px;
}
.home-each-product a:hover {
    background-color: #f6f0fa;
}
.home-each-product p {
    font-family: Tahoma, sans-serif;
    color: #606060;
}
#contact {
    padding: 10px 40px 30px;
    background-color: #f7c6d7;
}
#contact > p {
    font-family: Tahoma, sans-serif;
    color: white;
    font-weight: bold; 
}
.fa {
    padding: 15px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 5px;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin {
    background-color: #bc2157;
    color: white;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover {
    background-color: #8a0936;
}
.send-email {
    padding-top: 20px;
}
.send-email label, textarea {
    font-family: Tahoma, sans-serif;
    color: #606060;
}
.send-email input:nth-of-type(1), .send-email input:nth-of-type(2) {
    width: 344px;
}
.send-email input:nth-of-type(3) {
    background-color: #bc2157;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 220px;
}
.send-email input:nth-of-type(3):hover {
    background-color: #8a0936;
}
#skincare-quiz {
    padding: 10px 40px 30px;
    background-color: #fffbed;
    margin-bottom: 0;
}
#skincare-quiz > p {
    font-family: Tahoma, sans-serif;
    color: #bc2157;
    font-size: 16px;
    font-weight: bold;
}
#skincare-quiz div {
    font-family: Tahoma, sans-serif;
    color: #606060;
    font-size: 16px;
}
.quiz-submit {
    background-color: #bc2157;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}
.quiz-submit:hover {
    background-color: #8a0936;
}
#quiz-result {
    background-color: #fffbed;
    padding: 0 40px 30px 40px;
}
.quiz-display-result {
    color: #bc2157;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}
.quiz-product-link {
    text-decoration: none;
    color: #606060;
    font-weight: normal;
}
.quiz-product-link:hover {
    font-weight: bold;
}
.recipes-each-product {
    box-sizing: border-box;
    width: 30%; 
    margin: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #f7c6d7;
    padding: 15px;
}
.recipes-each-product img {
    max-width: 100%;
    height: 240px;
}
#recipes-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipes-each-product h2 {
    color: #606060;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}
.recipes-each-product p {
    font-family: Tahoma, sans-serif;
    color: #606060;
}
#recommended-site-links > ul {
    font-family: Tahoma, sans-serif;
    color: #bc2157;
}
.recommendations-each-site-sum {
	font-family: Tahoma, sans-serif;
    color: #606060;
	width: 75%; 
    margin: 10px;
    padding: 15px;
}
.recommendations-each-site {
    box-sizing: border-box;
    width: 30%; 
    margin: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #f7c6d7;
    padding: 15px;
}
.recommendations-each-site img {
    max-width: 100%;
    height: 240px;
}
#recommended-sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recommendations-each-site h2 {
    color: #606060;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}
.recommendations-each-site p {
    font-family: Tahoma, sans-serif;
    color: #606060;
}
